### # pattern "*", even when followed by "!*/", was hiding sockets/marfs_obj
### *
*.*

!*/
!*.c
!*.h
!*.txt
!*.am
!*.ac
!*.conf
!scripts/*
!README*
!.gitignore

*~
marfs_auto_config.h
*.log

Makefile
autom4te.cache
ar-lib
compile
configure
depcomp
install-sh
missing
stamp-h1
test-driver

