# General Format:
#   Label: value
#
# order does not matter
#

# reftime: <seconds since Unix Epoch>
# last reftime will be used
# can be overwridden by commandline argument
reftime: 0

# threshold: <utilization>,<seconds since reftime>
# multiple threshold labels will be combined into a set of unique pairs
# duplicate utilization values will be overwritten by the last duplicate
threshold: 10,90
threshold: 20,80
threshold: 30,70
threshold: 40,60
threshold: 50,50
threshold: 60,40
threshold: 70,30
threshold: 80,20
threshold: 90,10

# blacklist: <regexp>
# multiple blacklist labels will be aggregated
# all blacklist regexps will be run in the order listed
# duplicates are not removed
blacklist: ^.*\.inprog$
