
<!--
   Copyright (c) 2015, Los Alamos National Security, LLC
   All rights reserved.

   Copyright 2015.  Los Alamos National Security, LLC. This software was produced
   under U.S. Government contract DE-AC52-06NA25396 for Los Alamos National
   Laboratory (LANL), which is operated by Los Alamos National Security, LLC for
   the U.S. Department of Energy. The U.S. Government has rights to use, reproduce,
   and distribute this software.  NEITHER THE GOVERNMENT NOR LOS ALAMOS NATIONAL
   SECURITY, LLC MAKES ANY WARRANTY, EXPRESS OR IMPLIED, OR ASSUMES ANY LIABILITY
   FOR THE USE OF THIS SOFTWARE.  If software is modified to produce derivative
   works, such modified software should be clearly marked, so as not to confuse it
   with the version available from LANL.

   Additionally, redistribution and use in source and binary forms, with or without
   modification, are permitted provided that the following conditions are met:
   1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

   2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.
   3. Neither the name of Los Alamos National Security, LLC, Los Alamos National
   Laboratory, LANL, the U.S. Government, nor the names of its contributors may be
   used to endorse or promote products derived from this software without specific
   prior written permission.

   THIS SOFTWARE IS PROVIDED BY LOS ALAMOS NATIONAL SECURITY, LLC AND CONTRIBUTORS
   "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
   THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
   ARE DISCLAIMED. IN NO EVENT SHALL LOS ALAMOS NATIONAL SECURITY, LLC OR
   CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY,
   OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
   SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
   INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
   STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
   OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


   NOTE:

   Although these files reside in a seperate repository, they fall under the MarFS copyright and license.

   MarFS is released under the BSD license.

   MarFS was reviewed and released by LANL under Los Alamos Computer Code identifier:
   LA-CC-15-039.

   These erasure utilites make use of the Intel Intelligent Storage
   Acceleration Library (Intel ISA-L), which can be found at
   https://github.com/01org/isa-l and is under its own license.

   MarFS uses libaws4c for Amazon S3 object communication. The original version
   is at https://aws.amazon.com/code/Amazon-S3/2601 and under the LGPL license.
   LANL added functionality to the original work. The original work plus
   LANL contributions is found at https://github.com/jti-lanl/aws4c.

   GNU licenses can be found at http://www.gnu.org/licenses/.
-->

<marfs_config version="resourceMan.fakeversion=0.111">
   <!-- Mount Point -->
   <mnt_top>/campaign</mnt_top>

   <!-- Host Definitions ( ignored by this code ) -->
   <hosts> ... </hosts>

   <!-- Second Repo Definition -->
   <repo name="3+2repo">

      <!-- Per-Repo Data Scheme -->
      <data>

         <!-- Erasure Protection -->
         <protection>
            <N>3</N>
            <E>2</E>
            <PSZ>512</PSZ>
         </protection>

         <!-- Packing -->
         <packing enabled="yes">
            <max_files>1024</max_files>
         </packing>

         <!-- Chunking -->
         <chunking enabled="yes">
            <max_size>4096</max_size>
         </chunking>

         <!-- Object Distribution -->
         <distribution>
            <pods dweight="2" cnt="1"></pods>
            <caps dweight="4" cnt="5">2=0,0=1,</caps>
            <scatters cnt="16">12=0</scatters>
         </distribution>

         <!-- DAL Definition -->
         <DAL type="posix">
            <dir_template>pod{p}/cap{c}/scat{s}/block{b}/</dir_template>
            <sec_root>./test_rman_topdir/dal_root</sec_root>
         </DAL>

      </data>

      <!-- Per-Repo Metadata Scheme -->
      <meta>

         <!-- Namespace Definitions -->
         <namespaces rbreadth="100" rdepth="1" rdigits="3">

            <!-- Root NS Definition -->
            <ns name="root">
               <!-- Ridiculous quota setting : A single file, up to 100PiB in size -->
               <quotas>
                  <files>1</files>
                  <data>100P</data>
               </quotas>

               <!-- No metadata manipulation, and no data access -->
               <perms>
                  <interactive>RM,RD</interactive>
                  <batch>RM,WM,RD,WD</batch>
               </perms>


               <!-- Non-Packing Subspace -->
               <rns name="nopack" repo="3+2-nopack-repo"/>


               <!-- Packing Subspace -->
               <ns name="pack">
                  <quotas>
                     <files>100K</files>
                     <data>10T</data>
                  </quotas>
                  <perms>
                     <interactive>RM,WM,RD,WD</interactive>
                     <batch>RM,WM,RD,WD</batch>
                  </perms>
               </ns>

               <!-- Ghost of Packing Subspace -->
               <gns name="pack-ghost" repo="3+2repo" nstgt="/pack">
                  <perms>
                     <interactive>RM,WM,RD,WD</interactive>
                     <batch>RM,WM,RD,WD</batch>
                  </perms>
               </gns>

            </ns>
         </namespaces>

         <!-- No Direct Data -->

         <!-- MDAL Definition -->
         <MDAL type="posix">
            <ns_root>./test_rman_topdir/mdal_root</ns_root>
         </MDAL>

      </meta>

   </repo>

   <repo name="3+2-nopack-repo">

      <!-- Per-Repo Data Scheme -->
      <data>

         <!-- Erasure Protection -->
         <protection>
            <N>3</N>
            <E>2</E>
            <PSZ>1024</PSZ>
         </protection>

         <!-- Packing -->
         <packing enabled="no"/>

         <!-- Chunking -->
         <chunking enabled="yes">
            <max_size>100K</max_size>
         </chunking>

         <!-- Object Distribution -->
         <distribution>
            <pods dweight="2" cnt="2">1=1</pods>
            <caps dweight="4" cnt="5"/>
            <scatters cnt="16" dweight="100">12=10</scatters>
         </distribution>

         <!-- DAL Definition -->
         <DAL type="posix">
            <dir_template>pod{p}/cap{c}/scat{s}/block{b}/</dir_template>
            <sec_root>./test_rman_topdir/dal_root</sec_root>
         </DAL>

      </data>

      <!-- Per-Repo Metadata Scheme -->
      <meta>

         <!-- Namespace Definitions -->
         <namespaces rbreadth="2" rdepth="1">

            <!-- Root NS Definition -->
            <ns name="nopack">
               <quotas>
                  <files>100</files>
                  <data>100T</data>
               </quotas>

               <perms>
                  <interactive>RM,WM,RD,WD</interactive>
                  <batch>RM,WM,RD,WD</batch>
               </perms>
            </ns>
         </namespaces>

         <!-- No Direct Data -->

         <!-- MDAL Definition -->
         <MDAL type="posix">
            <ns_root>./test_rman_topdir/mdal_root</ns_root>
         </MDAL>

      </meta>

   </repo>

</marfs_config>

